<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Forgot Password</title>
  <link rel="stylesheet" href="stylesheets/forgotpassword.css"/>
</head>
<body>

  <div id="toast"></div>

  <nav class="navbar">
    <div class="nav-left">
      <img src="images/cmu-favicon.ico" alt="Logo" class="logo-img" />
      <span class="logo">QuickBorrow: City of Malabon University Library Service</span>
    </div>
    <div class="nav-right">
      <a href="#" class="nav-link" id="about-btn">About</a>
      <a href="#" class="nav-link" id="contact-btn">Contact</a>
    </div>
  </nav>

  <div class="container">
    <div class="form-container" id="forgot-password-form">
      <h2>Forgot Password</h2>
      <% if (error) { %>
        <div class="error-message"><%= error %></div>
      <% } %>
      <% if (message) { %>
        <div class="success-message"><%= message %></div>
      <% } %>
      <form id="forgot-password" action="/forgotpassword" method="POST">
        <input type="email" id="forgot-password-email" name="email" placeholder="Enter your email" required 
               title="9-digit student ID followed by @cityofmalabonuniversity.edu.ph"/>
        <button type="submit">Submit</button>
      </form>

      <p class="toggle-form">Remembered your password? <a href="/">Login</a></p>
    </div>
  </div>

</body>
</html>
